main {
  /*auch hier ist die max width nicht zentriert...: */
  max-width: 40rem;
}
.card {
  background: linear-gradient(to bottom, #44936b, #0024388a);
  box-shadow: rgba(114, 75, 102, 0.582) 0px 5px 15px;

  margin-top: 1.3rem;

  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.card__answerbutton {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-style: none;
  border-radius: 1rem;
  padding: 0.5rem;
}
.card__answerbutton:hover {
  background-color: var(--color-pink);
  color: var(--color-dark);
}

.card__bookmark-button {
  position: absolute;
  top: -1rem;
  right: 0rem;
  background: transparent;
  border-style: none;
}
.card__bookmark-button:hover {
  background-color: var(--color-contrast);
}

.card-container {
  margin-bottom: 8rem;
}

.tags {
  align-self: flex-start;
  display: flex;

  gap: 1rem;
}

.tags__tag {
  border-radius: 1rem;
  padding: 0.15rem;
  min-width: 3rem;
  background-color: var(--color-pink);
  display: flex;
  justify-content: center;
}
