.card {
  background-color: var(--color-light--transparent);
  box-shadow: rgba(114, 75, 102, 0.219) 0px 5px 15px;

  margin: 6%;

  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.card__answerbutton {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-style: none;
  border-radius: 1rem;
}

.card__bookmark-button {
  position: absolute;
  top: -1rem;
  right: 0rem;
  background: transparent;
  border-style: none;
}

.card-container {
  margin-top: 8rem;
}

.tags {
  align-self: flex-start;
  display: flex;

  gap: 1rem;
}

.tags__tag {
  border-radius: 1rem;
  min-width: 3rem;
  background-color: var(--color-light);
}
