* {
  box-sizing: border-box;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  --color-pink: #f987b6;
  /*--color-dark: #070908; */
  --color-dark: #5a1a5b;
  --color-light: #efeaf0;
  --color-light--transparent: #efeaf080;
}
body {
  background-color: var(--color-pink);
  color: var(--color-dark);
  margin: 0%;
}

body:has(.dark-mode:checked) {
  --color-pink: #5a1a5b;
  /*--color-dark: #070908; */
  --color-dark: #44df08;
  --color-light: #480955;
  --color-light--transparent: #efeaf080;
}
