* {
  box-sizing: border-box;
  list-style: none;
}
:root {
  --color-pink: #f987b6;
  /*--color-dark: #070908; */
  --color-dark: #5a1a5b;
  --color-light: #efeaf0;
  --color-light--transparent: #efeaf077;
}
body {
  background-color: var(--color-pink);
  color: var(--color-dark);
  margin: 0%;
}
