* {
  box-sizing: border-box;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  --color-special: #c78bb5;

  --color-main: #14313f;
  --color--first-accent: #9c9c9c;
  --color--second-accent: #73c599;
  --color-background: #a4aab8;

  --color-contrast: #dd5e24;
}
body {
  background-color: var(--color-background);
  color: var(--color-main);
  margin: 0%;
  display: flex;
  justify-content: center;
}

body:has(.dark-mode:checked) {
}
