header {
  color: var(--color-special);
  background-color: var(--color--first-accent);
  border-bottom: solid var(--color-main);
  box-shadow: rgba(114, 75, 102, 0.219) 0px 5px 15px;

  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: xx-large;
  padding: 1rem;

  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}
.header__title {
  text-shadow: var(--color-main) 5px 2px;
  margin: 0;
}
